<!DOCTYPE html>
<html>
<head>
	<title>PaymenMethod</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="./admin3.css">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
	  <div class="container">

	    <a class="navbar-brand" href="./index.html">Navbar</a>

	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>

	    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

	      <div class="navbar-nav ms-auto">

	        <a class="nav-link active" aria-current="page" href="/admin-home">Home</a>
	        <a class="nav-link" href="#">Features</a>
	        <a class="nav-link" href="#">Pricing</a>

	      </div>

	    </div>
	  </div>
	</nav>

	<section class="container mt-5 MainCtr">



		<div class="row  justify-content-around align-items-center text-center">

			<div class="col-6 ctr pe-5">

				<form class="row formDesignIn" action="/addAccount" method="post">
					
					<div class="col-md-12 mt-5">
						<p class="up">Add User</p>
					</div>

					<div class="col-12 formCol mt-5">
						<div class="input-group mb-3">
						  <input name="fName" placeholder="First Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>

					<div class="col-12 formCo">
						<div class="input-group mb-3">
						  <input name="lName" placeholder="Last Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>

					<div class="col-12 formCo">
						<div class="input-group mb-3">
						  <input name="username" placeholder="Username" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>

					<div class="col-12 formCo">
						<div class="input-group mb-3">
						  <input name="email" placeholder="Email" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>

					<div class="col-12 formCol">
						<div class="input-group mb-3">
						  <input placeholder="Date Of Birth" name='DOB' type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>

					<div class="col-12 formCo">
						<div class="input-group mb-3">
						  <input name="phone" placeholder="PhoneNumber" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>

					<div class="col-12 formCo">
						<div class="input-group mb-3">
						  <input name="password" placeholder="Password" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>

					<div class="input-group mb-3">
					  <select name="currency" class="form-select" id="inputGroupSelect01">
						<option value="0" disabled selected>Currency</option>
						<%-currencyOptions%>
					  </select>
					</div>

					<div class="input-group mb-3">
					  <select name="type" class="form-select" id="inputGroupSelect01">
						<option value="0" disabled selected>Account Type</option>
						<option value="1">User Account</option>
						<option value="2">Business Account</option>							
						<option value="3">Admin Account</option>
					  </select>
					</div>

					<div>
						<button class="btn btn-primary mb-3" style="width:80%" type="submit" name="submit">Add Account</button>
					</div>
					

				</form>

			</div>



			
			<div class="col-4 ctr ps-5">

				<div class="row formDesignIn">
					
					<div class="col-md-12 mt-5">
						<p class="up">Delete Account</p>
					</div>
					
					<form class="col-12 title pb-4" action="/deleteAccount" method="post">

						<div class="input-group mb-3 mt-3">
	
							<select name="accountSelect" class="form-select" id="inputGroupSelect01" placeholder="Select">
								<option value="0" disabled selected>Choose An Account (username)</option>
								<%- options %>
	  
							</select>
						</div>
  
						<div class="col-12 formCol">
							<div class="input-group mb-3">
								<input name="password" placeholder="Password" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
						</div>
					  
						<button class="btn btn-danger" type="submit" name="submit">Delete Account</button>				
					</form>

				</div>

			</div>

			<section class="container mt-5 MainCtr mb-5 align-items-center">



				<div class="row  justify-content-center align-items-center ">
					
					<div class="col-lg-12 ctr">
		
						<div class="row formDesignIn">
		
							<div class="overflow-auto">
		
							<table class="table mt-5">
							  
							  <thead class=" table-dark">
								<tr>
								  <th scope="col">Account Id</th>
								  <th scope="col">First Name</th>
								  <th scope="col">Last Name</th>
								  <th scope="col">Balance</th>
								  <th scope="col">Currency</th>
								  <th scope="col">Account Type</th>
								</tr>
							  </thead>
							  <tbody>
								<%-transactionList%>

							  </tbody>
							</table>
		
							</div>
		
						</div>
		
					</div>
				
				</div>
		
			</section>


		
		</div>

		<form class="col-12 title pb-4" action="/admin-home" method="get">
			<button class="btn btn-secondary" style="width: 20%" type="submit" name="submit">Home</button>				
		</form>


	</section>



	<!-- Footer -->
	<footer class="page-footer font-small blue user-footer">

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2021 Copyright:
	  	<a class="footer-txt" href="localhost:3000"> localhost:3000</a>
		</div>
		<!-- Copyright -->
  
  	</footer>
  	<!-- Footer -->
</body>
</html>